
<div class="layout">
  <div id="navbar">
  <h1>Cocktails</h1>
  <div class="button"><%= link_to 'New Cocktail', new_cocktail_path %></div>
  <div class="button"> Another Cocktail </div>
  </div>

    <div class="cards">
        <h1>All Cocktails</h1>
        <% @cocktails.each do |cocktail| %>
            <div class="card">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
            <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
            <% end  %>
            </div>
        <% end %>
    </div>

    <%= cl_image_tag("https://res.cloudinary.com/yileijiang/image/upload/v1605276629/dniiz7jubslsy2weaizg.jpg",
      width: 400, height: 300, crop: :fill) %>
   
</div>

